:root{
    --white: #FFFFFF;
    --maroon: #942826;
    --grey: #F8F8F8;
    --darkBlue: #001233;
    --darkGrey: #777777;
    --black: #000000;
    --darkBlueTwo: #011845;
    --textDark: #1F2026;
    --textGrey: #8F9198;
    --darkGreyBorder: #979DAC;
    --form-border: #1A50351F;
    --labelDark: #484848;
    --paginationBg: #94282627;
}
